button {
    width: 1.5rem;
    height: 1.5rem;
    background-color: darkgrey;
    outline: none;
    cursor: pointer;
    font-family: monospace;
    font-size: 1em;
    font-weight: bold;
    vertical-align: top;
    position: relative;
}

button.revealed {
    background-color: lightgray;
}

button.revealed.mine {
    background-color: burlywood;
}

button.revealed.mine::before {
    content: '💩';
    padding: 0 -3px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translateX(-50%) translateY(-50%);
    font-size:1.1em;
}

button.revealed.cleaned {
    background-color: green;
}

button.flagged::before {
    content: '🚩';
    padding: 0 -3px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translateX(-50%) translateY(-50%);
    font-size:1.1em;
}