board {
    border-width: 2px;
    border-style: outset;
    border-color: lightgray;
    background-color: lightgray;
    padding: 10px;
    display: table;
    margin: 0 auto;
}

body {
    position: relative;
}