/* You can add global styles to this file, and also import other style files */
body {
    background: url('./assets/windows-xp-bliss.jpg');
    background-size: cover;
    background-repeat:no-repeat;
}